
<div class="card border-primary mb-3 shadow-lg p-3 mb-5 bg-white rounded mt-3" style="height: 400px; width: 300px; margin-left: 350px;">
    <div style="margin-left: 100px;margin-top: 30px;">
        <h3>login</h3>
    </div>
    <form style="margin-top: 50px; margin: auto;">
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Senha</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary" style="margin-left: 80px;">Submit</button>
</form>
</div>